.breadcrumb li.is-active a {
  /* HACK: for some reason, the var for this is broken in bulma 1.0.4 */
  color: black;
}

.has-margin-left-5 {
  margin-left: 1.25rem;
}

#navbar {
  margin-bottom: 1.25rem;
}

#footer {
  margin-top: 1.25rem;
}

#footer img {
  vertical-align: middle;
}

.highlighter-rouge {
  color: black;
}

.post-image {
  max-height: 400px;
}
