<header class="has-background-light mb-4">
  <div class="container">
    <div class="columns is-vcentered">
      <div class="column is-narrow">
        <a href="/">
          <figure id="photo" class="image is-128x128">
            <img class="is-rounded" src="/img/photo.jpg" />
          </figure>
        </a>
      </div>
      <div class="column">
        <div class="columns is-vcentered">
          <div class="column">
            <div class="title is-size-2">Dmitry Non</div>
            <div class="subtitle is-size-4">Software Engineer</div>
          </div>
          <div class="column is-narrow">
            <a href="mailto:mail@nondv.io">
              <span class="icon">
                <i class="far fa-envelope"></i>
              </span>
              mail@nondv.io
            </a>
            <a class="is-block" target="_blank" href="https://www.linkedin.com/in/nondv/">
              <span class="icon">
                <i class="fab fa-linkedin"></i>
              </span>
              Nondv
            </a>
            <a class="is-block" target="_blank" href="https://github.com/Nondv">
              <span class="icon">
                <i class="fab fa-github"></i>
              </span>
              @Nondv
            </a>
            <a class="is-block" target="_blank" href="https://medium.com/@nondv">
              <span class="icon">
                <i class="fab fa-medium"></i>
              </span>
              @nondv
            </a>
            <a class="is-block" target="_blank" href="https://weird-programming.dev">
              <span class="icon">
                <i class="fas fa-external-link-alt"></i>
              </span>
              weird-programming.dev
            </a>
            <a class="is-block" href="{% link blog.html %}">
              <span class="icon">
                <i class="fas fa-pen"></i>
              </span>
              nondv.wtf/blog
            </a>
            <div>London, UK</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

