---
layout: default
---
<nav class="breadcrumb mb-4" aria-label="breadcrumbs">
  <ul>
    <li><a href="{% link blog.html %}">Blog</a></li>
    <li><a href="{% link categories.html %}">Categories</a></li>
    <li>
      {%- if page.categories.size > 1 -%}
        <div class="dropdown is-hoverable">
          <div class="dropdown-trigger">
            <a href="{{site.url}}/blog/categories/{{page.categories[0] | slugify}}">
              <span class="icon is-small mr-0 ml-0"><i class="fas fa-angle-down"></i></span>
              {{page.categories[0]}}
            </a>
          </div>

          <div class="dropdown-menu">
            <div class="dropdown-content">
              {%- assign categories_except_first = page.categories | slice: 1, page.categories.size -%}
              {%- for category in categories_except_first -%}
                <a style="justify-content: left" class="dropdown-item" href="{{site.url}}/blog/categories/{{category | slugify}}">
                  {{category}}
                </a>
              {%- endfor -%}
            </div>
          </div>
        </div>
      {%- else -%}
        <a href="{{site.url}}/blog/categories/{{page.categories[0] | slugify}}">{{page.categories[0]}}</a>
      {%- endif -%}
    </li>
    <li class="is-active"><a href="#" aria-current="page">{{page.title}}</a></li>
  </ul>
</nav>

<div class="title is-1">{{page.title}}</div>
{% include share-buttons.html %}

{%- if page.img -%}
  <figure class="mb-6 has-text-centered">
    <img class='post-image' src='{{page.img}}' alt='Post image' />
    {%- if page.img_caption -%}
      <figcaption class="is-size-7">{{page.img_caption}}</figcaption>
    {%- endif -%}
  </figure>
{%- endif -%}

<article class="content">
  {{content}}
</article>
{% include share-buttons.html %}

{% include comments.html %}
