---
layout: default
---
<nav class="breadcrumb mb-4" aria-label="breadcrumbs">
  <ul>
    <li><a href="{% link blog.html %}">Blog</a></li>
    <li><a href="{% link categories.html %}">Categories</a></li>
    <li><a href="{{site.url}}/blog/categories/{{page.categories[0] | slugify}}">{{page.categories[0]}}</a></li>
    <li class="is-active"><a href="#" aria-current="page">{{page.title}}</a></li>
  </ul>
</nav>

<div class="title is-1">{{page.title}}</div>
{% include share-buttons.html %}

{%- if page.img -%}
  <div class="mb-4">
    <img class='post-image' src='{{page.img}}' alt='Post image' />
  </div>
{%- endif -%}

<article class="content">
  {{content}}
</article>
{% include share-buttons.html %}

{% include comments.html %}
